<br>
<h1>Academics</h1>

<div class="row align-justify">
  <div class="column medium-6">
    The way students learn skills and material is much more interconnected than is represented in traditional education.  One of our core beliefs is that there are ways of teaching generalized skills that apply to specific subjects as well as more broadly.  For example, we believe that thinking clearly about the flow of arguments can help students develop skills in critical writing, careful deliberation, and software development. Recognizing these relations explicitly in our curriculum will mean we can reduce redundancy and increase the depth with which students understand these concepts.
    <br>
    <br>
    We understand how important social context is for scholastic education, and also in its own right.  We believe that allowing students to develop deep friendships and political relationships outside the classroom can enrich their educational experiences.  The reverse also holds; classroom interactions can provide useful social and emotional lessons.  These insights stand in contrast to a traditional education wherein academic subjects are often separated from each other with minimal communication between educators, and wherein the social and emotional development of students is not deeply considered.
  </div>
  <div class="column medium-5">
    <img src="http://placehold.it/350x250"><br><br>

  </div>
</div>
