<br>
<div class="row">
  <div class="column">
      <h1>Communal Living</h1>
  </div>
</div>
<div class="row align-justify">
  <div class="column medium-6">
    The best way to become a responsible member of the global community is to learn to be one locally.
    <br>
    <br>
    At Bristlecone, students will rely on one another for the day-to-day functioning of their school; they will provide each other with feedback, and will be presented with daily opportunities to both succeed and fail.  They will cook the meals, select the classes, and build the school’s digital infrastructure.  They will live in close proximity to the impacts of their actions, and see the significant responsibility that comes along with living alongside others.
    <br>
    <br>
    This is an especially relevant educational model in the Computer Age.  The anonymity of the internet alienates computer users from the human-impact of their actions.  At Bristlecone, students will use computers to impact the community immediately around them, forcing them to directly confront the real life implications of their actions.  The classes will integrate programming with the consequences of programming, and will embrace the ethical questions that surround such an immensely powerful tool.  These are not questions with simple or static answers, and this is not a conversation that can end at graduation—Bristlecone students will help bring it into the broader world.
  </div>
  <div class="column medium-5">
    <img src="http://placehold.it/350x250"><br><br>
  </div>
</div>
