<div class="innerView">
  <div class="centered">
    <br>
    <h3>Interested in learning more or becoming a part of Bristlecone?</h3>
    <h5>We'd love to hear from you.</h5>
    <h4>Contact us at: e-mail address</h4>
  </div>

  <p>Or send us a message here:</p>

  <form action="https://formspree.io/paigebolduc@gmail.com"
        method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name">
      <label for="email">Email address:</label>
      <input type="email" name="_replyto">
      <label for="content">Message:</label>
      <textarea rows="5" cols="50"  name="content"></textarea>
      <input type="submit" value="Send">
  </form>
  <br>
</div>
