<div id="splash"
    class="centered">
  <p>Bristlecone Pine School is a nonprofit organization created to design and build educational programs.

  We're committed to helping students become reflective, compassionate, and inquisitive citizens, through an interdisciplinary education which bridges the divide between technology and the humanities.</p>

  <br>
  <div class='row'>
    <div class="large-4 columns">
        <h5>Software Development</h5>
        <p>We teach software development as a modern tool for creativity and analysis, and we engage with the ethical questions raised by its effect on society.</p>
    </div>
    <div class="large-4 columns">
        <h5>Self Governance</h5>
        <p>Bristlecone students are empowered with authentic responsibility for their own education and learning environment.</p>
    </div>
    <div class="large-4 columns">
        <h5>Communal Living</h5>
        <p>Students are members of a democratic community; they depend on each other, and they know that they are being depended on.</p>
    </div>
  </div>
</div>
