<div class="innerView">
  <h3 class="centered">inner view 1 title</h3>

  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="http://placehold.it/150x150">
    </div>
    <div class="media-object-section">
      <h5>Sample Name</h5>
      <p>In sed est sodales, congue mi quis, ultrices nisl. Suspendisse potenti. Nam blandit interdum elit eleifend vestibulum. Mauris elementum sed nulla id maximus. Quisque sollicitudin, augue a vulputate fringilla, odio quam efficitur nisl, at varius justo justo eu justo. Duis accumsan posuere scelerisque. Nullam a diam lobortis, convallis risus vitae, tincidunt est. Proin eu justo ut nisl sodales porta. Nam iaculis elit quis blandit lacinia. Aliquam finibus at lorem eu rutrum.</p>
    </div>
  </div>

  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="http://placehold.it/150x150">
    </div>
    <div class="media-object-section">
      <h5>Sample Name</h5>
      <p>In sed est sodales, congue mi quis, ultrices nisl. Suspendisse potenti. Nam blandit interdum elit eleifend vestibulum. Mauris elementum sed nulla id maximus. Quisque sollicitudin, augue a vulputate fringilla, odio quam efficitur nisl, at varius justo justo eu justo. Duis accumsan posuere scelerisque. Nullam a diam lobortis, convallis risus vitae, tincidunt est. Proin eu justo ut nisl sodales porta. Nam iaculis elit quis blandit lacinia. Aliquam finibus at lorem eu rutrum.</p>
    </div>
  </div>

  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="http://placehold.it/150x150">
    </div>
    <div class="media-object-section">
      <h5>Sample Name</h5>
      <p>In sed est sodales, congue mi quis, ultrices nisl. Suspendisse potenti. Nam blandit interdum elit eleifend vestibulum. Mauris elementum sed nulla id maximus. Quisque sollicitudin, augue a vulputate fringilla, odio quam efficitur nisl, at varius justo justo eu justo. Duis accumsan posuere scelerisque. Nullam a diam lobortis, convallis risus vitae, tincidunt est. Proin eu justo ut nisl sodales porta. Nam iaculis elit quis blandit lacinia. Aliquam finibus at lorem eu rutrum.</p>
    </div>
  </div>

  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="http://placehold.it/150x150">
    </div>
    <div class="media-object-section">
      <h5>Sample Name</h5>
      <p>In sed est sodales, congue mi quis, ultrices nisl. Suspendisse potenti. Nam blandit interdum elit eleifend vestibulum. Mauris elementum sed nulla id maximus. Quisque sollicitudin, augue a vulputate fringilla, odio quam efficitur nisl, at varius justo justo eu justo. Duis accumsan posuere scelerisque. Nullam a diam lobortis, convallis risus vitae, tincidunt est. Proin eu justo ut nisl sodales porta. Nam iaculis elit quis blandit lacinia. Aliquam finibus at lorem eu rutrum.</p>
    </div>
  </div>

  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" src="http://placehold.it/150x150">
    </div>
    <div class="media-object-section">
      <h5>Sample Name</h5>
      <p>In sed est sodales, congue mi quis, ultrices nisl. Suspendisse potenti. Nam blandit interdum elit eleifend vestibulum. Mauris elementum sed nulla id maximus. Quisque sollicitudin, augue a vulputate fringilla, odio quam efficitur nisl, at varius justo justo eu justo. Duis accumsan posuere scelerisque. Nullam a diam lobortis, convallis risus vitae, tincidunt est. Proin eu justo ut nisl sodales porta. Nam iaculis elit quis blandit lacinia. Aliquam finibus at lorem eu rutrum.</p>
    </div>
  </div>
</div>
