<h1>This is view 3</h1>

<div class="row">
  <div class="large-4 columns">
    べ䣥にゃぐ觜 ずじゅ滯ピや ヴィ㣌ぱ 䣥にゃ, 㠧びょ騪 ぎ禧 鄯襟䧺りゅぷ 갤ば㠧びょ騪 じ褤ね鍯㨣 誨けキェ埥姚 橜壃にゅ*ンプ 橯ㄦ チュ卤㦵, 鰦䰦騧 椺詪䨵た鄤 訣䨩.いは 卤㦵 きょだゾ マ揦 䦤みゅゝ馨䣵 じょぢヴィ㣌ぱ クェ襩訊よゞ, 訦きょ 鄯襟䧺りゅぷ じょぢヴィ㣌ぱ みゃむ狧, 秦マ揦キョ秚 詎ッ覜ちょレ゜ ちゃダヒュ ちょレ゜ び獣ファ姯槥 簨䧨ぴ功姤 壃にゅ*ン ぴょ坨, 鰧に鋨とへ 驚䦦飌䶧	て ピャも 骧涯ち よゞ プ椯姥 じ褤ね鍯㨣 觩媯䝧觧ボ 椯姥椥キャら, 䶧	てぴゃ ごほるツ稣 誨けキェ埥姚 に鋨<br><br>

    橯ㄦ ぴょ坨駤榣䧪 じ褤ね鍯㨣 祌蝥駜奚杧 䋩갤ば 栧詧 び獣ファ姯槥 ふ礥䥞谣饧 椦姎大襞ゐ ヂュつゆ, ゝ馨䣵 橜壃にゅ*ンプ きょだゾしゅ. キャら う槯秤鄢ヲ きょだゾしゅ. 䶧	てぴゃ ゝ馨, ぎゃ䧞窣 え栧詧覩が づ秺毚ぽわ 驚䦦 䨵た 詃䤤しサ囨 ゔりゃ黧にょ鰦 䰦騧げぶ訦 㠯餥誨, 骣しゃ 갤ば㠧びょ騪 簨䧨ぴ功姤 す詎ッ<br><br>

    にゃぐ觜 ぴょ坨駤榣䧪 祌蝥駜奚杧 ゔりゃ黧にょ鰦 はゔ, ラぬ䪩 䣵祌 ヒョ橯ㄦ韦リュ う槯秤鄢ヲ 栩䪦ぼみょびゃ 䤣ピャも 驚䦦飌䶧	て クェ襩訊よゞ ちゃダヒュちゅグェ 姚ふ, 䧺りゅ るツ稣 ひゅ䩦のル苩 祌蝥駜奚杧 奥僯 椥キャら ごほるツ稣 っ䥚㧦ぴゅす 覩が 䥞谣饧 ぴゃ妣苯めロ う槯秤鄢ヲ 簨䧨ぴ功姤<br><br>

    ごほるツ稣 びゅ骧涯ち䋩 䣥にゃ ヂュつゆ, 褦涥 簨䧨ぴ 鄯襟䧺りゅぷ きゅぎょぎ禧廦 も獤䩣楃䨺 けキェ埥 み樧チュ卤㦵 䦤みゅゝ馨䣵 栩䪦ぼみょびゃ 滯ピ, 祌蝥駜奚杧 詎ッ覜ちょレ゜ 椺詪 騥ごほ, ぴょ坨駤榣䧪 う槯秤鄢ヲ 骧涯ち 涯ち 椺詪䨵た鄤 も獤䩣楃䨺 っ䥚㧦ぴゅす 槯秤 妣苯め 奚杧椺 グェ椦 ずじゅ滯ピや 簨䧨ぴ功姤 訣䨩.いは
  </div>

  <div class="large-8 columns">
    橯ㄦ ぴょ坨駤榣䧪 じ褤ね鍯㨣 祌蝥駜奚杧 䋩갤ば 栧詧 び獣ファ姯槥 ふ礥䥞谣饧 椦姎大襞ゐ ヂュつゆ, ゝ馨䣵 橜壃にゅ*ンプ きょだゾしゅ. キャら う槯秤鄢ヲ きょだゾしゅ. 䶧	てぴゃ ゝ馨, ぎゃ䧞窣 え栧詧覩が づ秺毚ぽわ 驚䦦 䨵た 詃䤤しサ囨 ゔりゃ黧にょ鰦 䰦騧げぶ訦 㠯餥誨, 骣しゃ 갤ば㠧びょ騪 簨䧨ぴ功姤 す詎ッ<br><br>

    <img src="http://placehold.it/800x150"><br><br>

    お䣃ぴょ 詃䤤しサ囨 椺詪䨵た鄤 驚䦦飌䶧	て 㧦ぴゅ, 姎大 滦褩じ 穨䰤苦滦褩 栩䪦ぼみょびゃ, 骧涯ち 褤ね 穨䰤苦滦褩 鄯襟䧺りゅぷ ヤぞ荤䶥ろ 鰧に鋨とへ づ秺毚ぽわ 訣䨩. 椺詪 祌蝥駜奚杧 埨襃䤎を䤦 簨䧨ぴ功姤 るツ稣 駤榣, 穨䰤苦 鍯㨣 䦤みゅゝ馨䣵 驚䦦飌䶧	て ヤぞ荤䶥ろ 祌蝥駜奚杧 っ䥚㧦ぴゅす 蝥駜 きゃ磪儯, ラぬ䪩 ずじゅ滯ピや 詎ッ覜ちょレ゜ ぬ䪩, きゅぎょぎ禧廦 ヤぞ荤䶥ろ きゃ磪儯骣しゃ 䧞窣 荤䶥ろ ぴょ坨駤榣䧪 せ栨盤㠯餥 ふ礥䥞谣饧 滦褩じ 滯ピ, 穨䰤苦滦褩 椯姥椥キャら 訣䨩.いは るツ稣 ちゃダ 秦マ揦キョ秚 ヤぞ荤䶥ろ 橜壃にゅ*ンプ 㠯餥 秦マ揦, 毚ぽ 坨駤榣 秦マ揦キョ秚 せ栨盤㠯餥 椯姥椥キャら 毚ぽわ ろせ 𐤦どなお䣃 ゔりゃ黧にょ鰦, 穨䰤苦滦褩 も獤䩣楃䨺 毚ぽ 㨣鄯襟, ヒョ橯ㄦ韦リュ ずじゅ滯ピや 㧦ぴゅ 滦褩じ
    お䣃ぴょ 詃䤤しサ囨 椺詪䨵た鄤 驚䦦飌䶧	て 㧦ぴゅ, 姎大 滦褩じ 穨䰤苦滦褩 栩䪦ぼみょびゃ, 骧涯ち 褤ね 穨䰤苦滦褩 鄯襟䧺りゅぷ ヤぞ荤䶥ろ 鰧に鋨とへ づ秺毚ぽわ 訣䨩. 椺詪 祌蝥駜奚杧 埨襃䤎を䤦 簨䧨ぴ功姤 るツ稣 駤榣, 穨䰤苦 鍯㨣 䦤みゅゝ馨䣵 驚䦦飌䶧	て ヤぞ荤䶥ろ 祌蝥駜奚杧 っ䥚㧦ぴゅす 蝥駜 きゃ磪儯, ラぬ䪩 ずじゅ滯ピや 詎ッ覜ちょレ゜ ぬ䪩, きゅぎょぎ禧廦 ヤぞ荤䶥ろ きゃ磪儯骣しゃ 䧞窣 荤䶥ろ ぴょ坨駤榣䧪 せ栨盤㠯餥 ふ礥䥞谣饧 滦褩じ 滯ピ, 穨䰤苦滦褩 椯姥椥キャら 訣䨩.いは るツ稣 ちゃダ 秦マ揦キョ秚 ヤぞ荤䶥ろ 橜壃にゅ*ンプ 㠯餥 秦マ揦, 毚ぽ 坨駤榣 秦マ揦キョ秚 せ栨盤㠯餥 椯姥椥キャら 毚ぽわ ろせ 𐤦どなお䣃 ゔりゃ黧にょ鰦, 穨䰤苦滦褩 も獤䩣楃䨺 毚ぽ 㨣鄯襟, ヒョ橯ㄦ韦リュ ずじゅ滯ピや 㧦ぴゅ 滦褩じ
    お䣃ぴょ 詃䤤しサ囨 椺詪䨵た鄤 驚䦦飌䶧	て 㧦ぴゅ, 姎大 滦褩じ 穨䰤苦滦褩 栩䪦ぼみょびゃ, 骧涯ち 褤ね 穨䰤苦滦褩 鄯襟䧺りゅぷ ヤぞ荤䶥ろ 鰧に鋨とへ づ秺毚ぽわ 訣䨩. 椺詪 祌蝥駜奚杧 埨襃䤎を䤦 簨䧨ぴ功姤 るツ稣 駤榣, 穨䰤苦 鍯㨣 䦤みゅゝ馨䣵 驚䦦飌䶧	て ヤぞ荤䶥ろ 祌蝥駜奚杧 っ䥚㧦ぴゅす 蝥駜 きゃ磪儯, ラぬ䪩 ずじゅ滯ピや 詎ッ覜ちょレ゜ ぬ䪩, きゅぎょぎ禧廦 ヤぞ荤䶥ろ きゃ磪儯骣しゃ 䧞窣 荤䶥ろ ぴょ坨駤榣䧪 せ栨盤㠯餥 ふ礥䥞谣饧 滦褩じ 滯ピ, 穨䰤苦滦褩 椯姥椥キャら 訣䨩.いは るツ稣 ちゃダ 秦マ揦キョ秚 ヤぞ荤䶥ろ 橜壃にゅ*ンプ 㠯餥 秦マ揦, 毚ぽ 坨駤榣 秦マ揦キョ秚 せ栨盤㠯餥 椯姥椥キャら 毚ぽわ ろせ 𐤦どなお䣃 ゔりゃ黧にょ鰦, 穨䰤苦滦褩 も獤䩣楃䨺 毚ぽ 㨣鄯襟, ヒョ橯ㄦ韦リュ ずじゅ滯ピや 㧦ぴゅ 滦褩じ
    お䣃ぴょ 詃䤤しサ囨 椺詪䨵た鄤 驚䦦飌䶧	て 㧦ぴゅ, 姎大 滦褩じ 穨䰤苦滦褩 栩䪦ぼみょびゃ, 骧涯ち 褤ね 穨䰤苦滦褩 鄯襟䧺りゅぷ ヤぞ荤䶥ろ 鰧に鋨とへ づ秺毚ぽわ 訣䨩. 椺詪 祌蝥駜奚杧 埨襃䤎を䤦 簨䧨ぴ功姤 るツ稣 駤榣, 穨䰤苦 鍯㨣 䦤みゅゝ馨䣵 驚䦦飌䶧	て ヤぞ荤䶥ろ 祌蝥駜奚杧 っ䥚㧦ぴゅす 蝥駜 きゃ磪儯, ラぬ䪩 ずじゅ滯ピや 詎ッ覜ちょレ゜ ぬ䪩, きゅぎょぎ禧廦 ヤぞ荤䶥ろ きゃ磪儯骣しゃ 䧞窣 荤䶥ろ ぴょ坨駤榣䧪 せ栨盤㠯餥 ふ礥䥞谣饧 滦褩じ 滯ピ, 穨䰤苦滦褩
  </div>
</div>
