<br>
<div class="row">
  <div class="column">
      <h1>Self-Governance</h1>
  </div>
</div>
<div class="row align-justify">
  <div class="column medium-6">
    Students are more engaged, perform better, and learn more when they are given authentic responsibility.  At Bristlecone, students are members of a democratic community; they depend on each other, and they know that they are being depended on.  They will be continuously involved in the ongoing creation of the school, and will be a part of a truly student-directed education.
    <br>
    <br>
    Students will engage with each other in substantive conversations about the conditions of their educational existence. In these conversations they will develop crucial communication and interpersonal skills. We believe that self-governance conversations are especially well suited for learning how to deeply listen to and understand others’ ideas, how to empathize with the motivations behind those ideas, how to recognize the full impact one’s own ideas have on others, and how to communicate complex thoughts succinctly and effectively.
  </div>
  <div class="column medium-5">
    <img src="http://placehold.it/350x250"><br><br>

  </div>
</div>

    

    </div>
</div>
